
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@ViewBag.Title</title>
	<link rel="icon" href="~/Content/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="~/Content/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="~/Content/vendors/fontawesome/~/Content/css/all.min.css">
	<link rel="stylesheet" href="~/Content/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="~/Content/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="~/Content/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="~/Content/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
    @{Html.RenderPartial("~/Views/Partial/HomePartial/_PartialHeader.cshtml");} 
	<!--================ End Header Menu Area =================-->

  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    @{Html.RenderPartial("~/Views/Partial/HomePartial/_PartialBanner.cshtml");}
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
   @* @{Html.RenderPartial("~/Views/Partial/_PartialCarouselStart.cshtml");}*@
    <!--================ Hero Carousel end =================-->
      @RenderBody()
    <!-- ================ trending product section start ================= -->  
@*    @{Html.RenderPartial("~/Views/Partial/_PartialTrending.cshtml");}*@
    <!-- ================ trending product section end ================= -->  

    <!-- ================ Best Selling item  carousel ================= --> 
   @* @{Html.RenderPartial("~/Views/Partial/_PartialBestSeller.cshtml");}*@
    <!-- ================ Best Selling item  carousel end ================= --> 

    <!-- ================ Blog section start ================= -->  
   @* @{Html.RenderPartial("~/Views/Partial/_PartialBlogSection.cshtml");}*@
    <!-- ================ Blog section end ================= -->  

    <!-- ================ Subscribe section start ================= --> 
    @{Html.RenderPartial("~/Views/Partial/HomePartial/_PartialSubcribe.cshtml");}
    <!-- ================ Subscribe section end ================= --> 

    

  </main>


  <!--================ Start footer Area  =================-->	
	@{Html.RenderPartial("~/Views/Partial/HomePartial/_PartialFooter.cshtml");}
	<!--================ End footer Area  =================-->



  <script src="~/Content/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="~/Content/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="~/Content/vendors/skrollr.min.js"></script>
  <script src="~/Content/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="~/Content/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="~/Content/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="~/Content/vendors/mail-script.js"></script>
  <script src="~/Content/js/main.js"></script>
</body>
</html>